.person {
  display: flex;
  align-items: flex-end;
  padding: 25px;
  border-bottom: 2px solid #e8e8e6;
  height: 220px;
}

.img {
  width: 190px;
  height: 110px;
  margin-right: 40px;
  margin-bottom: 60px;
  background: linear-gradient(
    rgba(204, 204, 204, 0.3),
    rgba(204, 204, 204, 0.3)
  ),
  url(../../../../assets/svg/user.svg) no-repeat center center;
}

.jobTitle {
  margin-top: 30px;
  margin-left: -95px;
}

.userName {
  margin-bottom: 20px;
}

.likes {

}

.dislikes{

}

input[type="file"] {
  margin-left: -225px;
}
